/* You can add global styles to this file, and also import other style files */
p{
    font-family: 'VT323', monospace;
    border: 1px;
    font-size: 24px;
    border-style: double;
    margin: auto;
    width:330px;
    height:24px;
}